.containerCollection {
  margin: 0;
  padding: 0;
  width: 100%;
  /* height: auto; */
  height:100vh;

}

.collection {
  border: none;
  /* box-shadow: 5px 0 10px -5px rgba(51, 51, 51, 0.53); */
  margin: 0;
  padding: 0;
  height:100vh;

}

.containerAll {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  align-items: center;
  color: #868489;
  cursor: pointer;
  outline: none;
}

.select_all__menu{
  font-size: 10px;
}

.containerAttended {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  align-items: center;
  color: #868489;
  cursor: pointer;
  outline: none;
}

.done_all_menu {
  padding: 0px 15px 0px 35px;
}

.containerTrashcan {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  align-items: center;
  color: #868489;
  cursor: pointer;
  outline: none;
}

.delete_sweep_menu {
  padding: 0px 26px 0px 8px;
}

.trashText {
  padding: 0 0 0 0;
}

.containerSpace {
  height: 20px;
}

.containerSpaceEnd {
  height: 800px;
}

.attended{
  background: transparent;
}

i.small {
  font-size: 1.65rem;
}

.active {
  color: #a7d21e;
  font-weight: bold;
}
