.collection{
    border:none;
    box-shadow: 5px 0 10px -5px rgba(51, 51, 51, 0.53);
    margin: 0;
    padding: 0;
}

.containerAll{
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    align-items:center;
    color:#868489;
}

.done_all{
    padding: 0px 15px 0px 35px;
}

.delete_sweep{
    padding: -1px 0px 0px 0px;
}

.containerAttended{
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    align-items:center;
    color:#868489;
}

.containerTrashcan{
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    align-items:center;
    color:#868489;
}

.containerSpace{
    height: 20px;
}

