<div class="containerCollection">
    <ul class="collection">
            <div class="containerSpace"></div>
            <div class="containerAll row" routerLinkActive="active" routerLink="/allprofiles">
                <i class="small material-icons col s0.5 select_all">select_all</i>
                <li class="collection-item col s0.5">Todos</li>
            </div>
            <div class="containerSpace"></div>
            <div class="containerAttended row" routerLinkActive="active" routerLink="/attended">
                <i class="small material-icons col s0.5 done_all">done_all</i>
                <li class="collection-item col s0.5">Atendidos</li>
            </div>
            <div class="containerSpace"></div>
            <div class="containerTrashcan row" routerLinkActive="active" routerLink="/trash">
                <i class="small material-icons col s0.5 delete_sweep">delete_sweep</i>
                <li class="collection-item col s0.5 trashText">Lixeira</li>
            </div>
            <div class="containerSpaceEnd"></div>
    </ul>
</div>