.containerCollection {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
}

.collection {
  border: none;
  /* box-shadow: 5px 0 10px -5px rgba(51, 51, 51, 0.53); */
  margin: 0;
  padding: 0;
}

.containerAll {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  align-items: center;
  color: #868489;
  cursor: pointer;
  outline: none;
}

/* .select_all{
  width: 30%;
  height: auto;
} */

.containerAttended {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  align-items: center;
  color: #868489;
  cursor: pointer;
  outline: none;
}

.done_all {
  padding: 0px 15px 0px 35px;
}

.containerTrashcan {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  align-items: center;
  color: #868489;
  cursor: pointer;
  outline: none;
}

.delete_sweep {
  padding: 0px 26px 0px 8px;
}

.trashText {
  padding: 0 0 0 0;
}

.containerSpace {
  height: 20px;
}

.containerSpaceEnd {
  height: 800px;
}

.attended{
  background: transparent;
}

.active {
  color: #a7d21e;
}
