<div>
    <ul class="collection">
            <div class="containerSpace"></div>
            <div class="containerAll row">
                <i class="small material-icons col s0.5 select_all">select_all</i>
                <li class="collection-item col s0.5">Todos</li>
            </div>
            <div class="containerSpace"></div>
            <div class="containerAttended row">
                <i class="small material-icons col s0.5 done_all">done_all</i>
                <li class="collection-item col s0.5">Atendidos</li>
            </div>
            <div class="containerSpace"></div>
            <div class="containerTrashcan row">
                <i class="small material-icons col s0.5 delete_sweep">delete_sweep</i>
                <li class="collection-item col s0.5">Lixeira</li>
            </div>
    </ul>
</div>