<div class="containerDatatable row">
    <table class="tablePerfil responsive-table">
        <tbody>
            <tr class="profileRow" *ngFor="let profile of profileAll">
                <td class='columnImgProfile'><img class='imgProfile' src="{{ profile.imgProfile }}"></td>
                <td class='columnName'><span class='nameProfile'><b>{{ profile.name }}</b></span></td>
                <td class='columnEmail'><span class='emailProfile'>{{ profile.email }}</span></td>
                <td class='columnTel'><span class='phoneProfile'>{{ profile.phone }}</span></td>
                <td class='columnCity'><span class='cityProfile'>{{ profile.city }}</span></td>
                <td class="columnIconSelect"><i class="small material-icons col s0.5 delete">delete</i></td>
                <td class="columnIconSelect"><i class="small material-icons col s0.5 select_all">select_all</i></td>
                <td class="columnIconSelect"><i class="small material-icons col s0.5 check">check</i></td>
            </tr>
        </tbody>
    </table>
</div>

<!-- <div class="containerDatatable row">
    <table class="tablePerfil responsive-table">
        <tbody>
            <tr class="profileRow">
                <td class='columnImgProfile'><img class='imgProfile' src="assets/image/perfil1.jpg"></td>
                <td class='columnName'><span class='nameProfile'><b>Roberto</b></span></td>
                <td class='columnEmail'><span class='emailProfile'>roberto@gmail.com</span></td>
                <td class='columnTel'><span class='phoneProfile'>(123)876-098</span></td>
                <td class='columnCity'><span class='cityProfile'>Uberlandia</span></td>
                <td class="columnIconDelete"><i class="small material-icons col s0.5 iDelete"  routerLinkActive="active">delete</i></td>
                <td class="columnIconSelect"><i class="small material-icons col s0.5 iSelect_all"  routerLinkActive="active">select_all</i></td>
                <td class="columnIconCheck"><i class="small material-icons col s0.5 iCheck"  routerLinkActive="active">check</i></td>
            </tr>
            <tr class="profileRow">
                <td class='columnImgProfile'><img class='imgProfile' src="assets/image/perfil1.jpg"></td>
                <td class='columnName'><span class='nameProfile'><b>Roberto</b></span></td>
                <td class='columnEmail'><span class='emailProfile'>roberto@gmail.com</span></td>
                <td class='columnTel'><span class='phoneProfile'>(123)876-098</span></td>
                <td class='columnCity'><span class='cityProfile'>Uberlandia</span></td>
                <td class="columnIconDelete"><i class="small material-icons col s0.5 iDelete">delete</i></td>
                <td class="columnIconSelect"><i class="small material-icons col s0.5 iSelect_all">select_all</i></td>
                <td class="columnIconCheck"><i class="small material-icons col s0.5 iCheck">check</i></td>
            </tr>
            <tr class="profileRow">
                <td class='columnImgProfile'><img class='imgProfile' src="assets/image/perfil1.jpg"></td>
                <td class='columnName'><span class='nameProfile'><b>Roberto</b></span></td>
                <td class='columnEmail'><span class='emailProfile'>roberto@gmail.com</span></td>
                <td class='columnTel'><span class='phoneProfile'>(123)876-098</span></td>
                <td class='columnCity'><span class='cityProfile'>Uberlandia</span></td>
                <td class="columnIconDelete"><i class="small material-icons col s0.5 iDelete">delete</i></td>
                <td class="columnIconSelect"><i class="small material-icons col s0.5 iSelect_all">select_all</i></td>
                <td class="columnIconCheck"><i class="small material-icons col s0.5 iCheck">check</i></td>
            </tr>
            <tr class="profileRow">
                <td class='columnImgProfile'><img class='imgProfile' src="assets/image/perfil1.jpg"></td>
                <td class='columnName'><span class='nameProfile'><b>Roberto</b></span></td>
                <td class='columnEmail'><span class='emailProfile'>roberto@gmail.com</span></td>
                <td class='columnTel'><span class='phoneProfile'>(123)876-098</span></td>
                <td class='columnCity'><span class='cityProfile'>Uberlandia</span></td>
                <td class="columnIconDelete"><i class="small material-icons col s0.5 iDelete">delete</i></td>
                <td class="columnIconSelect"><i class="small material-icons col s0.5 iSelect_all">select_all</i></td>
                <td class="columnIconCheck"><i class="small material-icons col s0.5 iCheck">check</i></td>
            </tr>
        </tbody>
    </table>
</div> -->


<!-- <table>
        <thead>
          <tr>
              <th>Name</th>
              <th>Item Name</th>
              <th>Item Price</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Alvin</td>
            <td>Eclair</td>
            <td>$0.87</td>
          </tr>
          <tr>
            <td>Alan</td>
            <td>Jellybean</td>
            <td>$3.76</td>
          </tr>
          <tr>
            <td>Jonathan</td>
            <td>Lollipop</td>
            <td>$7.00</td>
          </tr>
          <tr>
            <td>Jonathan</td>
            <td>Lollipop</td>
            <td>$7.00</td>
          </tr>
          <tr>
            <td>Jonathan</td>
            <td>Lollipop</td>
            <td>$7.00</td>
          </tr>
          <tr>
            <td>Jonathan</td>
            <td>Lollipop</td>
            <td>$7.00</td>
          </tr>
          <tr>
            <td>Jonathan</td>
            <td>Lollipop</td>
            <td>$7.00</td>
          </tr>
          <tr>
            <td>Jonathan</td>
            <td>Lollipop</td>
            <td>$7.00</td>
          </tr>
          <tr>
            <td>Jonathan</td>
            <td>Lollipop</td>
            <td>$7.00</td>
          </tr>
        </tbody>
      </table> -->
<!-- 


    listProfile[i]['picture'].medium, listProfile[i]['name'].first,
listProfile[i].email, listProfile[i].phone, listProfile[i]['location'].city
 -->