<mz-modal #bottomSheetModal [fixedFooter]="true" [options]="modalOptions">
  <button mz-anchor mz-modal-close>sdadas</button>
  <mz-modal-header></mz-modal-header>
  <mz-modal-content> 
    <div class="containerContent">
      <div class="containerImgProfile">
        <img class="imgProfileModal" src=" https://randomuser.me/api/portraits/men/65.jpg ">
      </div>
      <div class="containerInfos"></div>
    </div>
  </mz-modal-content>
  <mz-modal-footer class="modalFooter">
    <div class="containerFooter">
      <i class="material-icons"> perm_identity </i>
      <i class="material-icons"> mail </i>
      <i class="material-icons"> calendar_today </i>
      <i class="material-icons"> location_on </i>
      <i class="material-icons"> phone </i>
      <i class="material-icons"> vpn_key </i>
    </div>
  </mz-modal-footer>
</mz-modal>
