<div class="containerDatatable row">
    <table class="tablePerfil responsive-table">
        <!-- <thead>
            <tr>
                <th>Name</th>
                <th>Item Name</th>
                <th>Item Price</th>
            </tr>
        </thead> -->
    
        <tbody>
            <tr>
                <td class='columnImgProfile'><img class='imgProfile' src="assets/image/perfil1.jpg"></td>
                <td class='columnName'><span class='nameProfile'><b>Marcos</b></span></td>
                <td class='columnEmail'><span class='emailProfile'>marcos@gmail.com</span></td>
                <td class='columnTel'><span class='phoneProfile'>(869)-812-1234</span></td>
                <td class='columnCity'><span class='cityProfile'>Uberlandia - MG</span></td>
                <td class="columnIconSelect"><i class="small material-icons col s0.5 delete">delete</i></td>
                <td class="columnIconSelect"><i class="small material-icons col s0.5 select_all">select_all</i></td>
                <td class="columnIconSelect"><i class="small material-icons col s0.5 check">check</i></td>
            </tr>
        </tbody>
    </table>
</div>