<!--
  <div class="app">
      <div class="row">
              <div class=" header col s12"><app-header></app-header></div>
              <div class="menu col s2"><app-menu></app-menu></div>
              <div class="panel col s10"><app-panel></app-panel></div>
      </div>
  </div>
-->
<div class="containerGeral">

  <div class="header"><app-header (textSearch)="filterText($event)"></app-header></div>

  <div class="containerMain row">
    <div class="col-1.5 menu"><app-menu></app-menu></div>
    <div class="col-10 panel"><app-panel [textSearchSon]="textSearchFather"></app-panel></div>
  </div>

  <div class="footer"><p class="textFooter">Desafio front-end app.</p></div>
</div>
