<div class="containerGeral nopadding row">

  <div class="header nopadding col s12"><app-header class="headerApp" (textSearch)="filterText($event)"></app-header></div>

  <div class="containerMain nopadding row s12">
    <div class="nopadding col s2 menu"><app-menu></app-menu></div>
    <div class="nopadding col s10 panel"><app-panel [textSearchSon]="textSearchFather"></app-panel></div>
  </div>

  <div class="footer nopadding col s12"><p class="textFooter">Desafio front-end app.</p></div>
</div>
