<div class="containerDatatable row">
    <table class="tablePerfil responsive-table">
        <tbody>
            <tr class="profileRow" *ngFor="let profile of profileAll">
                <td class='columnImgProfile'><img class='imgProfile' src="{{ profile.imgProfile }}"></td>
                <td class='columnName'><span class='nameProfile'><b>{{ profile.name }}</b></span></td>
                <td class='columnEmail'><span class='emailProfile'>{{ profile.email }}</span></td>
                <td class='columnTel'><span class='phoneProfile'>{{ profile.phone }}</span></td>
                <td class='columnCity'><span class='cityProfile'>{{ profile.city }}</span></td>
                <td class="columnIconSelect"><i class="small material-icons col s0.5 select_all">select_all</i></td>
                <td class="columnIconSelect"><i class="small material-icons col s0.5 check">check</i></td>
            </tr>
        </tbody>
    </table>
</div>