/* You can add global styles to this file, and also import other style files */

html {
  margin: 0;
  width: 100%;
  line-height: 1.5;
  height:100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height:100vh;
}

.modal-overlay{
  background: -webkit-linear-gradient(top, #013750,  #013750 50%, rgb(194, 194, 194) 50%, rgb(194, 194, 194)) !important;
  opacity: unset !important;
}
