<div>
  <nav id="headerNav">
    <div class="nav-wrapper">
      <div class="row">
        <div class="classLogo col s2">
          <img class="responsive" src="/assets/image/logoZupHeader.png"/>
        </div>
        <div id="containerInput" class="col s8">
          <div class="col s0 containerIconLupa">
            <i class="material-icons prefix lupaIcon">search</i>
          </div>
          <div id="containerInputTextHeader" class="col s6">
            <input
              type="text"
              placeholder="Buscar"
              id="autocomplete-input"
              class="autocomplete black-text"
            />
          </div>
        </div>
        <div class="containerPerfil col s2">
            <img class="imgAccount" src="{{ listProfilesImage[0].imgProfile }}" />
          <!-- <i id="iconPerfil" class="large material-icons">account_circle</i> -->
        </div>
      </div>
    </div>
  </nav>
</div>
