<nav id="headerNav">
    <div class="nav-wrapper">
        <div class="row">
            <div class="classLogo col s2"><img class="responsive-img" src="/assets/image/logoZupHeaderBack.jpg"> </div>
            <div class="col s8">input</div>
            <div class="col s2">perfil</div>
        </div>  
    </div>
</nav>


<!-- 
<div class="center row">
        <div class="col s6 " >
        <div class="row" id="topbarsearch">
            <div class="input-field col s6 s12 red-text">
            <i class="red-text material-icons prefix">search</i>
            <input type="text" placeholder="search" id="autocomplete-input" class="autocomplete red-text" >
            </div>
        </div>
        </div>
</div>  -->

