/* You can add global styles to this file, and also import other style files */
html {
  margin: 0px;
  height: 100%;
  width: 100%;
  line-height: 1.5;
}

body {
  margin: 0px;
  min-height: 100%;
  width: 100%;
}

.modal-overlay{
  background: -webkit-linear-gradient(top, #013750,  #013750 50%, rgb(194, 194, 194) 50%, rgb(194, 194, 194)) !important;
  opacity: unset !important;
}
